@import "../responsive";

.project {
    padding-top: 64px;

    @include Responsive(xs sm) {
        padding-top: 120px;
    }
}

.link-area {
    background-color: #fff;
}
.link {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 24px;

    ol {
        margin: 0;
        display: flex;
        list-style: none;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            margin-right: 6px;
            font-size: 14px;
            color: #33659c;

            span {
                text-decoration: underline;
                cursor: pointer;
            }

            svg {
                margin-left: 6px;
                font-size: 10px;
            }
        }
    }

    button {
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid #ffb41f;
        background-color: #fff;
        color: #ffb41f;
    }
}

.images {
    .image {
        display: flex;
        img {
            width: 100%;
        }
    }
}

.project-header {
    margin-top: 12px;
    padding: 20px 0;

    @include Responsive(xs sm) {
        padding: 0;
    }

    h3 {
        margin: 0;
        font-size: 24px;
        text-transform: uppercase;
        color: #d12032;
    }

    &__address {
        display: flex;
        align-items: center;
        margin-top: 8px;
        color: #33659c;
        cursor: pointer;
        font-size: 15px;

        svg {
            @include Responsive(xs sm) {
                display: none;
            }
        }

        p {
            margin: 0;
            margin-left: 8px;
        }

        span {
            font-weight: 600;
            text-decoration: underline;
        }
    }

    &__links {
        margin: 8px 0;

        @include Responsive(xs sm) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        button {
            padding: 8px 16px;
            border: 1px solid #fff;
            color: #fff;
            background-color: #d12032;
            // font-weight: 600;
            font-size: 16px;
            margin-right: 8px;
            border-radius: 6px;
            transition: 0.2s;

            &:hover {
                background-color: #f30606;
            }
        }
    }
}

.project-content {
    margin-top: 24px;
}

.content-title {
    h3 {
        text-align: center;
        display: block;
        font-weight: 600;
        color: #004395 !important;
        font-size: 22px;
        letter-spacing: 0.78px;
        text-align: center;
        margin: 0;
        margin: 7px 0px;
        margin-bottom: 8px;
    }

    h4 {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 600;
        color: #004395 !important;
        font-size: 25px;
        text-align: center;
        margin: 0;
        margin-bottom: 12px;
    }
}

.content-navigator {
    position: sticky;
    top: 56px;
    border-bottom: 2px solid #dcdcdc;
    padding: 8px 0;
    background-color: #fff;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;

    @include Responsive(xs sm) {
        position: relative;
        z-index: 1;
        top: 0;
        padding: 0;
    }

    &__item {
        cursor: pointer;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        height: 100%;
        line-height: 20px;
        padding: 8px 16px;
        text-decoration: none;

        &--active {
            border-bottom: 3px solid #33659c;
        }
    }
}

.pj-info {
    padding-top: 60px;
    margin: 24px 0;

    &__row {
        display: flex;
        flex-wrap: wrap;

        @include Responsive(xs sm) {
            display: block;
        }

        img {
            width: 100%;
        }
    }

    &__col {
        flex: 0 0 auto;
        width: 50%;

        @include Responsive(xs sm) {
            width: 100%;
            padding: 0 !important;
            border: none !important;
        }

        &:first-child {
            padding-right: 24px;
        }

        &:last-child {
            padding-left: 24px;
            border-left: 1px solid #dcdcdc;
        }
    }
}

.pj-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;

    h5 {
        font-size: 14px;
        margin: 0;
        font-weight: 600;
        color: #777;
    }

    p {
        margin: 0;
        padding: 4px 0;
        font-size: 14px;
    }

    &--block {
        display: block;
    }
}

.pj-utilities {
    margin: 24px 0;
    padding-top: 60px;

    &__row {
        display: flex;
        flex-wrap: wrap;

        @include Responsive(xs sm) {
            display: block;
        }
    }

    &__col {
        flex: 0 0 auto;
        width: 33.333333%;

        @include Responsive(xs sm) {
            width: 100%;
        }
    }
}

.pj-utilities-item {
    margin: 6px;
    border-radius: 6px;
    position: relative;

    svg {
        font-size: 20px;
    }

    span {
        margin-left: 12px;
    }
}

.utilities-image {
    width: 100%;
}

.utilities-title {
    position: absolute;
    bottom: 5px;
    padding: 12px 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.01));
    width: 100%;
}

.pj-plan {
    margin: 24px 0;
    padding-top: 60px;
}

.pj-plan-track {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__selector {
        flex: 0 0 auto;
        width: 20%;
        border: 1px solid #dcdcdc;

        @include Responsive(xs sm) {
            width: 100%;
        }

        h5 {
            margin: 0;
            padding: 12px 24px;
            border-bottom: 1px solid #dcdcdc;
            cursor: pointer;
        }
    }

    &__img {
        border: 1px solid #dcdcdc;
        border-left: none;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.hr {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    img {
        width: 100%;
    }
}

.pj-desr {
    padding-top: 60px;
    &__content {
        white-space: pre-wrap;
        line-height: 24px;
    }
}

.pj-owner {
    margin: 24px 0;
    padding: 60px 0;
}

.owner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;

    &__img {
        margin-right: 12px;
    }

    &__name {
        p {
            margin: 0;
            font-weight: 600;
            margin-bottom: 2px;
            color: #ffb41f;
            font-size: 20px;
        }

        span {
            font-size: 14px;
        }
    }
}

.owner-decr {
    white-space: pre-wrap;
    line-height: 24px;
}

.pj-items {
    margin: 24px 0;

    &__more {
        padding: 12px 24px;
        border-top: 1px solid #eee;
        text-align: center;

        a {
            font-size: 16px;
            font-weight: 600;
            width: 100%;
            color: #d12032;
        }
    }
}
