@import "../../styles/responsive";

.header {
    padding: 8px 0;
    background-color: #ffb41f;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-row {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;

    &--center {
        justify-content: center;
    }
}

.logo-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.toggle {
    display: none;
    button {
        background: transparent;
        font-size: 20px;
        color: #fff;
        border: none;
    }

    @include Responsive(xs sm) {
        display: block;
    }
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0 16px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                color: #f93707;
            }

            svg {
                font-size: 18px;
            }

            span {
                margin-left: 8px;
                font-size: 15px;
            }
        }
    }

    @include Responsive(xs sm) {
        display: none;
        &--active {
            display: block;

            ul {
                display: block;
                
                li {
                    padding: 8px 0;
                }
            }
        }
    }

    
}

.search {
    display: flex;
    align-items: center;

    select {
        padding: 8px;
        border: none;
        height: 40px;
        border-top-left-radius: 6px;
        outline: none;
        border-bottom-left-radius: 6px;
    }

    input {
        padding: 8px;
        border: none;
        height: 40px;
        outline: none;
        width: 100%;
        border-left: 1px solid #eee;
        font-size: 16px;
    }

    button {
        padding: 8px;
        border: none;
        height: 40px;
        width: 48px;
        background-color: #fff;
        border-top-right-radius: 6px;
        outline: none;
        border-bottom-right-radius: 6px;

        svg {
            font-size: 18px;
            color: #ffb41f;
        }
    }
}

.user {
    display: flex;
    align-items: center;
    margin-left: 40px;

    svg {
        font-size: 24px;
        margin-right: 12px;
    }
}
