@import "../../styles/responsive";

.footer {
    padding: 28px 0;
    background-color: #fff;
}

.footer-item {
    width: 100%;
    display: flex;
    justify-content: center;

    @include Responsive(xs sm) {
        display: block;
        padding: 0 28px;
    }
}

.download-methods {
    display: flex;

    &__QR {
        margin-right: 12px;
    }
}

.link {
    margin-bottom: 8px;
    a {
        transition: 0.2s;
    }

    &:hover {
        a {
            color: #d12032;
            padding-left: 4px;
        }
    }
}

.social {
    display: flex;
    align-items: center;

    &__item {
        margin-right: 16px;
        margin-bottom: 24px;

        svg {
            font-size: 24px;
        }
    }
}

.address {
    border-top: 1px solid #eee;
    padding: 8px 0px;

    address {
        font-style: normal;
        color: #777;
        font-size: 14px;
        text-align: center;
    }
}