.modal {
    min-width: 500px;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #fff;
    background-color: #d12032;

    h4 {
        margin: 0;
        display: flex;
        align-items: center;
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: #fff;
    }
}

.modal-content .selectors {
    height: 600px;
    overflow-y: scroll;
}

.content-area {
    padding: 40px ;
}

.modal-content .selectors--small {
    height: 100%;
}

.selector {
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        color: #f93707;

        svg {
            color: #f93707;
        }
    }

    svg {
        font-size: 12px;
        color: #777;
    }
}

.button-area {
    padding: 0 12px 12px;
    display: flex;
    justify-content: center;

    button {
        padding: 12px 24px;
        color: #fff;
        background-color: #14a7fa;
        font-size: 16px;
        border: 1px solid #14a7fa;
        transition: 0.2s;
        margin: 0 24px;

        &:hover {
            background-color: #fff;
            border: 1px solid #14a7fa;
            color: #14a7fa;
        }
    }
}
