@import "../../styles/responsive";

.categories {
    padding: 20px 0;

    h4, h5 {
        margin: 0;
    }
}

.categories-area {
    background-color: #fff;

    h4 {
        margin-bottom: 8px;
        padding: 12px 24px;
        text-transform: uppercase;
        border-bottom: 1px solid #eee;
    }
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 24px;
    @include Responsive(xs sm) {
        padding: 0px 24px;
    }
}

.category {
    flex: 0 0 auto;
    width: 25%;
    display: flex;
    align-items: center;
    cursor: pointer;

    @include Responsive(xs sm) {
        width: 100%;
        padding: 12px 0;
    }

    &__image {
        margin-right: 12px;
        border-radius: 12px;
        background-color: #eee;
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__content {
        h5 {
            font-size: 16px;
        }

        span {
            font-size: 14px;
        }
    }
}