.link-area {
    background-color: #fff;
}
.link {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 24px;

    ol {
        margin: 0;
        display: flex;
        list-style: none;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            margin-right: 6px;
            font-size: 14px;
            color: #33659c;

            span {
                text-decoration: underline;
                cursor: pointer;
            }

            svg {
                margin-left: 6px;
                font-size: 10px;
            }
        }
    }

    button {
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid #ffb41f;
        background-color: #fff;
        color: #ffb41f;
    }
}

.images {
    .image {
        display: flex;
        img {
            width: 50% !important;
        }
    }
}

.project-header {
    margin-top: 12px;

    h3 {
        margin: 0;
        font-size: 20px;
    }

    &__address {
        display: flex;
        align-items: center;
        margin-top: 8px;
        color: #33659c;
        cursor: pointer;
        font-size: 15px;

        p {
            margin: 0;
            margin-left: 8px;
        }

        span {
            font-weight: 600;
            text-decoration: underline;
        }
    }

    &__links {
        margin: 8px 0;

        button {
            padding: 8px 16px;
            border: 1px solid #fff;
            color: #fff;
            background-color: #d12032;
            // font-weight: 600;
            font-size: 16px;
            margin-right: 8px;
            border-radius: 6px;
            transition: 0.2s;

            &:hover {
                background-color: #f30606;
            }
        }
    }
}

.project-content {
    margin-top: 24px;

    h3 {
        margin: 0;
        margin-bottom: 24px;
        color: #14a7fa;
        text-decoration: underline;
        font-size: 16px;
    }
}

.content-navigator {
    position: sticky;
    top: 64px;
    border-bottom: 2px solid #dcdcdc;
    padding: 8px 0;
    background-color: #fff;
    z-index: 10;

    &__item {
        cursor: pointer;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        height: 100%;
        line-height: 20px;
        padding: 8px 16px;
        text-decoration: none;

        &--active {
            border-bottom: 3px solid #33659c;
        }
    }
}

.pj-info {
    margin: 24px 0;

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__col {
        flex: 0 0 auto;
        width: 50%;

        &:first-child {
            padding-right: 24px;
        }

        &:last-child {
            padding-left: 24px;
            border-left: 1px solid #dcdcdc;
        }
    }
}

.pj-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;

    h5 {
        font-size: 14px;
        margin: 0;
        font-weight: 600;
        color: #777;
    }

    p {
        margin: 0;
        padding: 4px 0;
        font-size: 14px;
    }

    &--block {
        display: block;
    }
}

.pj-utilities {
    margin: 24px 0;

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__col {
        flex: 0 0 auto;
        width: 25%;
    }
}

.pj-utilities-item {
    padding: 24px;
    background-color: #f4f4f4;
    margin: 6px;
    border-radius: 6px;
    display: flex;

    svg {
        font-size: 20px;
    }

    span {
        margin-left: 12px;
    }
}

.pj-plan {
    margin: 24px 0;
}

.pj-plan-track {
    display: flex;
    flex-wrap: wrap;

    &__selector {
        flex: 0 0 auto;
        width: 20%;
        border: 1px solid #dcdcdc;
        overflow-y: scroll;
        height: 450px;

        h5 {
            margin: 0;
            padding: 12px 24px;
            border-bottom: 1px solid #dcdcdc;
            cursor: pointer;
        }
    }

    &__img {
        border: 1px solid #dcdcdc;
        border-left: none;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        height: 450px;
    }
}

.pj-desr {
    margin: 24px 0;

    &__content {
        white-space: pre-wrap;
        line-height: 24px;
    }
}

.pj-owner {
    margin: 24px 0;
}

.owner {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    &__img {
        margin-right: 12px;
    }

    &__name {
        p {
            margin: 0;
            font-weight: 600;
            margin-bottom: 2px;
            color: #ffb41f;
        }

        span {
            font-size: 13px;
        }
    }
}

.owner-decr {
    white-space: pre-wrap;
        line-height: 24px;
}

.pj-items {
    margin: 24px 0;

    &__more {
        padding: 12px 24px;
        border-top: 1px solid #eee;
        text-align: center;

        a {
            font-size: 16px;
            font-weight: 600;
            width: 100%;
            color: #d12032;
        }
    }
}
